<%= form_group form, :firstname, label: 'First name' %>
<%= form_group form, :lastname, label: 'Last name' %>
<div class="form-group<%= error_class(form.object.errors, :address1) %>">
  <%= form.label :address1 %>
  <%= form.text_field :address1 %>
  <%= error_hint form.object.errors, :address1 %>
  <%= form.text_field :address2 %>
  <%= error_hint form.object.errors, :address2 %>
</div>
<div class="checkout-address-city-state">
  <div class="checkout-address-city">
    <%= form_group form, :city %>
  </div>
  <div class="checkout-address-state">
    <%= form_group form, :state_id, collection:
      [Spree::Country.default.states, :id, :abbr, include_blank: true] %>
  </div>
</div>
<%= form_group form, :zipcode %>
<%= form_group form, :phone %>
