<%= render layout: 'shop/shop' do %>
  <div class="container-fluid">
    <% if @order.line_items.empty? %>
      <div class="cart-empty">
        <h1>Your cart is empty</h1>
        <%= link_to 'Continue Shopping', app_url_helpers.shop_path %>
      </div>
    <% else %>
      <%= fb_track 'AddToCart', fb_track_params(@order) %>
      <div class="cart-header">
        <h1>Cart</h1>
        <%= link_to 'Checkout', checkout_path %>
      </div>
      <%= form_for @order, url: update_cart_path, html: { class: 'cart' } do |form| %>
        <%= render 'spree/shared/cart', form: form %>
      <% end %>
    <% end %>
  </div>
<% end %>
