<% @body_class = 'birdseed-header-inverse' %>
<% content_for :google_analytics do %>
  <%= render partial: 'spree/shared/google_checkout.js',
    locals: {
      order: @order,
      step_number: (@order.checkout_steps.index(@order.state) + 1) 
  } %>
<% end %>
<div class="checkout-banner">
  <h1>Checkout</h1>
</div>
<div data-scroll-target>
  <%= render 'nav', { states: @order.checkout_steps, index: @order.checkout_steps.index(@order.state) } %>
  <div class="alert-container container-fluid">
    <%= flash_messages %>
  </div>
  <div class="checkout container-fluid">
    <%= form_for @order, url: app_url_helpers.update_checkout_path(@order.state), html: { class: 'checkout-form' } do |form| %>
      <%= form.hidden_field :state_lock_version %>
      <%# Spree::Order#before_payment fucks `@order.state` up so we need to rely on `params[:state]` %>
      <%= render params[:state] || @order.state, form: form %>
    <% end %>
  </div>
</div>
