<% @body_class = 'birdseed-header-inverse' %>
<div class="shop-banner">
  <h1>Shop</h1>
</div>
<div class="shop-products">
  <div class="shop-nav" data-scroll-target>
    <%= active_link_to app_url_helpers.shop_path, active: :exclusive do %>
      <span class="glyphicon glyphicon-star"></span>
      Specials
    <% end %>
    <%= active_link_to app_url_helpers.shop_brands_path do %>
      <span class="glyphicon glyphicon-tag"></span>
      Brands
    <% end %>
    <%= active_link_to app_url_helpers.shop_birds_path do %>
      <span class="glyphicon glyphicon-leaf"></span>
      Birds
    <% end %>
    <%= active_link_to app_url_helpers.shop_search_path do %>
      <span class="glyphicon glyphicon-search"></span>
      Search
    <% end %>
    <%= active_link_to cart_path, class: 'pull-right' do %>
      <span class="glyphicon glyphicon-shopping-cart">
        <% if simple_current_order.item_count > 0 %>
          <span class="count">
            <%= simple_current_order.item_count %>
          </span>
        <% end %>
      </span>
      Cart
    <% end %>
  </div>
  <div class="shop-nav-filters">
    <%= yield %>
  </div>
  <% if @products %>
    <div class="container-fluid">
      <% if @products.any? %>
        <% cache products_cache_key do %>
          <div class="shop-products-list row">
            <% @products.each do |product| %>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="shop-product" itemscope itemtype="https://schema.org/Product">
                  <%= link_to product, itemprop: 'url' do %>
                    <% if product.images.first %>
                      <%= responsive_image_tag product.images.first.attachment, :product, :large,
                        class: 'shop-product-image', itemprop: 'image' %>
                    <% else %>
                      <div class="shop-product-image" style="background-color: #DDD;"></div>
                    <% end %>
                    <% if product.brand %>
                      <div class="shop-product-brand" itemprop="brand">
                        <%= product.brand.name %>
                      </div>
                    <% end %>
                    <div class="shop-product-name" itemprop="name" title="<%= product.name %>">
                      <%= truncate(product.name, length: 50) %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= render 'spree/shared/responsive_image_styles' %>
          </div>
        <% end %>
      <% else %>
        <div class="shop-products-empty">
          No products found
        </div>
      <% end %>
    </div>
  <% end %>
</div>
