<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
        <div class="footer-header">Shop</div>
        <%= link_to 'By Bird', app_url_helpers.shop_birds_path %>
        <%= link_to 'By Brand', app_url_helpers.shop_brands_path %>
        <%= link_to 'Search', app_url_helpers.shop_search_path %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
        <div class="footer-header">Links</div>
        <%= link_to 'About', app_url_helpers.about_path %>
        <%= link_to 'Talk To Us', app_url_helpers.talk_to_us_path %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
        <div class="footer-header">Account</div>
        <% if spree_current_user %>
          <%= link_to 'Orders', app_url_helpers.orders_path %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
          <%= link_to 'Signup', login_path %>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-column">
        <div class="footer-header">Contact</div>
        <%= mail_to 'help@birdseed.com' %>
        <a>1.800.635.9259</a>
        <a>4319 Jessup Road<br />Ceres, CA 95307</a>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; Copyright 2015 Seed Factory Inc.
    </div>
  </div>
</footer>
