<header class="birdseed-header container-fluid">
  <%= link_to :root do %>
    <h1 class="birdseed-logo"></h1>
  <% end %>
  <nav class="birdseed-nav">
    <%= link_to 'Shop', app_url_helpers.shop_path %>
    <%= link_to 'About', app_url_helpers.about_path %>
    <%= link_to 'Talk To Us', app_url_helpers.talk_to_us_path %>
    <% if spree_current_user %>
      <% if spree_current_user.orders.complete.any? %>
        <%= link_to 'Orders', app_url_helpers.orders_path %>
      <% end %>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </nav>
  <a href="" class="birdseed-nav-toggle">
    <span class="birdseed-nav-toggle-icon-bar"></span>
    <span class="birdseed-nav-toggle-icon-bar"></span>
  </a>
</header>
