<% @body_class = 'birdseed-header-inverse' %>
<div class="home-banner">
  <h1>Welcome to Birdseed.com</h1>
  <%= link_to 'Shop', app_url_helpers.shop_path %>
</div>
<div class="featured" data-scroller-container>
  <div class="featured-control-left" data-scroller-left>
    <span class="glyphicon glyphicon-menu-left"></span>
  </div>
  <div class="featured-scroller" data-scroller>
    <% @featured_items.each do |featured_item| %>
      <%= link_to featured_item.url, class: 'featured-item', data: { scroller_target: true } do %>
        <%= responsive_image_tag featured_item.image, :normal, :normal_2x, class: 'featured-item-image' %>
        <div class="featured-item-info">
          <div class="featured-item-header">
            <div class="featured-item-type">
              <%= featured_item.type %>
            </div>
            <div class="featured-item-title">
              <%= featured_item.title %>
            </div>
          </div>
          <div class="featured-item-body">
            <%= featured_item.body %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render 'spree/shared/responsive_image_styles' %>
  </div>
  <div class="featured-control-right" data-scroller-right>
    <span class="glyphicon glyphicon-menu-right"></span>
  </div>
</div>
