<% @body_class = 'birdseed-header-inverse' %>
<div class="home-banner">
  <h1>Welcome to Birdseed.com</h1>
  <%= link_to 'Shop', app_url_helpers.shop_path %>
</div>
<div class="featured" data-scroller-container>
  <div class="featured-control-left" data-scroller-left>
    <span class="glyphicon glyphicon-menu-left"></span>
  </div>
  <div class="featured-scroller" data-scroller>
    <%= link_to app_url_helpers.shop_brands_path('versele-laga'), class: 'featured-item', data: { scroller_target: '' } do %>
      <div class="featured-item-image">
        <%= image_tag 'featured/versele-laga.png' %>
      </div>
      <div class="featured-item-info">
        <div class="featured-item-header">
          <div class="featured-item-type">New Product</div>
          <div class="featured-item-title">Versele-Laga</div>
        </div>
        <div class="featured-item-body">
          Your pigeon will reach mach 1 with our new food,
          high in trans fats and sugar.
        </div>
      </div>
    <% end %>
    <%= link_to app_url_helpers.about_path, class: 'featured-item', data: { scroller_target: '' } do %>
      <div class="featured-item-image">
        <%= image_tag 'featured/new_website.png' %>
      </div>
      <div class="featured-item-info">
        <div class="featured-item-header">
          <div class="featured-item-type">Announcement</div>
          <div class="featured-item-title">New Website</div>
        </div>
        <div class="featured-item-body">
          Now you can waste more time on the Internet.
        </div>
      </div>
    <% end %>
    <%= link_to app_url_helpers.shop_brands_path('avian-science'), class: 'featured-item', data: { scroller_target: '' } do %>
      <div class="featured-item-image">
        <%= image_tag 'featured/volkman_redesign.png' %>
      </div>
      <div class="featured-item-info">
        <div class="featured-item-header">
          <div class="featured-item-type">Announcement</div>
          <div class="featured-item-title">Volkman Redesign</div>
        </div>
        <div class="featured-item-body">
          Does your parrot have an eye for design?
          He will love our new packages!
        </div>
      </div>
    <% end %>
  </div>
  <div class="featured-control-right" data-scroller-right>
    <span class="glyphicon glyphicon-menu-right"></span>
  </div>
</div>
